header {
  background-color: map-get($colors, secondary);
  display: flex;
  justify-content: center;
  .navbar {
    justify-content: space-between;
  }
}

.link_home {
  position: relative;
  right: 65%;
}
@media screen and (max-width: 1149px) {
  .link_home {
    position: inherit;
    padding: 0.8rem;
  }
}
